.container{  
   display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2% 4%;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". container-principal ."
          ". . .";
}

.container .container-component{
      grid-area: container-principal;
      border-radius: 10px;
      box-shadow:  5px 5px 10px #af3e2f,
             -5px -5px 10px #ff664d;
             padding:.9rem 1.5rem;
}