
:root {
  --tomato: #FF6347; /* Tomato (Principal) */
  --white: #FFFFFF; /* (Texto) */
  --reddish-orange:#E6523E; /* (Fondo) */
  --silver-gray: #ebebee; /* (Resaltado - Acento) */
/*   --gradient-background: linear-gradient(145deg, #cf4a38, #f65842); */
}

body{
    background: var(--reddish-orange);
}