.container-password {
    background-color:var(--silver-gray);
    display: flex;
    width: 95%;
    padding: 2.5%;
    gap: 10px;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 19px;
    box-shadow: inset 5px 5px 7px #8b8b8c,
    inset -5px -5px 7px #ffffff;
}

.container-password-option {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
}

.container-password-option .icon {
    font-size: 1.9rem;
    color: var(--tomato);
    cursor: pointer;
    transition: all 1s ease-in;
}


.container-password-option .icon:hover {
    scale: 1.2;
  }